@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7; }

.heading-secondary {
  font-size: 30px;
  display: inline-block;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #cae8d5, #204051);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 6px; }

.heading-tertiary {
  font-size: 20px;
  color: #3b6978;
  text-transform: uppercase; }

.paragraph {
  font-size: 15px;
  color: #84a9ac; }

.u-text-center {
  text-align: center; }

.u-margin-bottom-sm {
  margin-bottom: 10px; }

.u-margin-bottom-md {
  margin-bottom: 20px; }

.u-margin-bottom-lg {
  margin-bottom: 30px; }

.btn:link, .btn:visited {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
  transition: all 0.4s ease; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); }

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8); }

.btn-blue {
  color: #fff;
  background-color: #3b6978; }

.btn-white {
  color: #204051;
  background-color: #fff; }

.card {
  perspective: 1500px;
  -webkit-perspective: 1500px;
  position: relative;
  height: 500px; }
  .card-side {
    height: 500px;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    overflow: hidden; }
    .card-side-front {
      background-color: #fff; }
    .card-side-back {
      transform: rotateY(180deg);
      padding: 20px;
      color: #fff;
      font-size: 22px; }
      .card-side-back-1 {
        background-image: linear-gradient(to bottom right, #ffeed0, #ff6464); }
      .card-side-back-2 {
        background-image: linear-gradient(to bottom right, #c6e377, #36622b); }
      .card-side-back-3 {
        background-image: linear-gradient(to bottom right, #fce2db, #e4a3d4); }
  .card-image {
    background-position: top;
    background-size: cover;
    height: 200px;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card-image-1 {
      background-image: linear-gradient(to bottom right, #ffeed0, #ff6464), url(./images/everyone-can-code.jpg); }
    .card-image-2 {
      background-image: linear-gradient(to bottom right, #c6e377, #36622b), url(./images/background.jpg); }
    .card-image-3 {
      background-image: linear-gradient(to bottom right, #fce2db, #e4a3d4), url(./images/everyone-can-code.jpg); }
  .card-heading {
    position: absolute;
    top: 150px;
    right: 20px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px;
    text-align: right; }
    .card-heading-1 {
      background-image: linear-gradient(to bottom right, #ffeed0, #ff6464); }
    .card-heading-2 {
      background-image: linear-gradient(to bottom right, #c6e377, #36622b); }
    .card-heading-3 {
      background-image: linear-gradient(to bottom right, #fce2db, #e4a3d4); }
  .card-info {
    padding: 20px;
    font-size: 20px; }
    .card-info-1 {
      color: #ff6464; }
    .card-info-2 {
      color: #36622b; }
    .card-info-3 {
      color: #e4a3d4; }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(202, 232, 213, 0.8), rgba(32, 64, 81, 0.8)), url(./images/background.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh; }
  .profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%; }
  .profile-title {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; }
    .profile-title-welcome {
      display: block;
      font-size: 50px;
      letter-spacing: 15px;
      font-weight: 400;
      animation: moveInLeft 1s ease-out;
      animation-delay: 1s;
      animation-fill-mode: backwards; }
    .profile-title-name {
      font-size: 30px;
      display: block;
      letter-spacing: 6px;
      font-weight: 400;
      animation: moveInRight 1s ease-out;
      animation-delay: 1s;
      animation-fill-mode: backwards; }

/*footer css begins*/
/*footer css ends*/
.section-about {
  background-color: #f9f9f9;
  margin-top: -15vh;
  padding: 30vh 5vh; }

.section-skills {
  margin-top: -15vh;
  padding: 10vh 0;
  background-image: linear-gradient(to bottom right, rgba(202, 232, 213, 0.8), rgba(32, 64, 81, 0.8)), url(./images/everyone-can-code.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-5deg); }
  .section-skills > * {
    transform: skewY(5deg); }

.skills-container {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skills-container .skill-box {
    padding: 20px;
    margin: 20px;
    flex: 150px 0 0;
    background-color: rgba(238, 238, 238, 0.8);
    text-align: center;
    border-radius: 5px;
    transition: all 0.4s ease; }
    .skills-container .skill-box .skill-logo {
      width: 100px;
      height: 100px;
      min-width: 100px;
      min-height: 100px; }
    .skills-container .skill-box:hover {
      transform: translateY(-8px);
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); }

.section-projects {
  background-color: #f9f9f9;
  margin-top: -15vh;
  padding-top: 30vh; }
  .section-projects .projects-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .section-projects .projects-container .project {
      flex: 350px 0 0;
      margin: 20px; }
