.card {
    perspective: 1500px;
    -webkit-perspective: 1500px;
    position: relative;
    height: 500px;

    &-side {
        height: 500px;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: $box-shadow-sm;
        border-radius: 5px;
        overflow: hidden;
        
        &-front {
            background-color: $color-white;
        }
        
        &-back {
            transform: rotateY(180deg);
            padding: 20px;
            color: $color-white;
            font-size: 22px;
            background-image: linear-gradient(to bottom right, $color-blue-light, $color-blue-navy);
        }
    }

    &-image {
        background-position: top;
        background-size: cover;
        height: 200px;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        background-image: linear-gradient(to bottom right, $color-blue-light, $color-blue-navy),
        url(./images/everyone-can-code.jpg);
    }

    &-heading {
        position: absolute;
        top: 150px;
        right: 20px;
        color: $color-white;
        font-size: 25px;
        text-transform: uppercase;
        padding: 5px;
        text-align: right;
        background-image: linear-gradient(to bottom right, $color-blue-light, $color-blue-navy);
    }

    &-info {
        padding: 20px;
        font-size: 20px;
        color: $color-blue-navy;
    }

    &:hover &-side-front {
        transform: rotateY(-180deg);
    } 
    
    &:hover &-side-back {
        transform: rotateY(0deg);
    }
}