$color-blue-navy: #204051;
$color-blue-dark: #3b6978;
$color-blue: #84a9ac;
$color-blue-light: #cae8d5;

$color-white: #fff;
$color-black: #000;
$color-light: #eee;
$color-light-gray: #f9f9f9;

//box-shadow

$box-shadow: 0px 5px 10px rgba($color-black, 0.8);
$box-shadow-sm: 0px 2px 4px rgba($color-black, 0.8);
